body, input[text], button { 
  color: #333; 
  font-family: Cambria, Georgia; 
}
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
.alert h4 {
  font-weight: 600;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}
.ticket {
    border: solid 1px #333333;
    width: 100%;
    float: left;
    min-height: 40px;
    padding: 5px;
    margin: 5px 0;
}
.ticket hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #333333;
}
.ticket .status-wrapper p {
    margin-top: 0;
    margin-bottom: 2px;
}
.ticket .dev-status {
    background-color: yellow;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
}
.ticket .status {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 2px;
}
.ticket .links a, .ticket .links a:visited, .ticket .links a:hover, .ticket .links a:active {
    font-weight: 700;
    color: saddlebrown;
}
.row.header, .not-started-tickets .header {
    font-weight: 700;
}
.row [class^=col-]:nth-child(1) .ticket{
    background-color: #ffccff;
}
.row [class^=col-]:nth-child(2) .ticket{
    background-color: #ffcc66;
}
.row [class^=col-]:nth-child(3) .ticket {
    background-color: #ccffff;
}
.row [class^=col-]:nth-child(4) .ticket{
    background-color: #99ff99;
}
.not-started-tickets {
    margin-bottom: 10px;
}
.not-started-tickets .ticket{
    width: 250px;
    margin: 15px;   
}
.loading {
    background-color: cyan;
    display: inline-block;
    padding: 3px;
    margin: 5px;
}
.team-selection {
    padding: 5px;
    margin-bottom: 5px;
}
.heading-link {
    font-size: 13px;
    font-weight: 400;
}
.ticket-count {
    color: #ff6600;
}
.code-notice-list {
    font-family: Calibri, Tahoma, Arial;
    font-size: 11pt;
}
.code-notice-list>tbody>tr>th, .code-notice-list>tbody>tr>td {
    padding: 5px;
    line-height: 18px;
}
