<h2>Ticket list 
    <a class="heading-link" href="javascript:void(0);" (click)="refreshTickets(devTeam)">[refresh]</a>
    <a *ngIf="config" class="heading-link" [href]="config.TicketWebUrl" target="_blank">[open web]</a>
</h2>
<div class="team-selection">
    Select your team 
    <select [(ngModel)]="devTeam" (change)="filterByTeam(devTeam)">
        <option value="">All</option>
        <option *ngFor="#team of allDevTeams" [value]="team">{{team}}</option>
    </select>
    <!--<button class="btn btn-primary" (click)="filterByTeam(devTeam)">Filter</button>-->
</div>
<div *ngIf="isLoading" class="loading">
    Loading...
</div>
<div class="container">
    <div *ngFor="#group of collapsableGroups" class="row not-started-tickets">
        <div class="col-md-12 header">
            {{group.name}}
            <a href="javascript:void(0);" (click)="toggleNotStartedTickets(group)">[{{group.show ? "Hide" : "Show"}}]</a>
        </div>
        <ticket-detail *ngIf="group.show" [ticketList]="tickets[group.id]" [config]="config"></ticket-detail>
    </div>
    <div class="row header">
        <div *ngFor="#group of gridGroups" class="col-xs-6 col-sm-3 col-md-3">{{group.name}}</div>
    </div>
    <div class="row">
        <div *ngFor="#group of gridGroups" class="col-xs-6 col-sm-3 col-md-3">
            <ticket-detail [ticketList]="tickets[group.id]" [config]="config"></ticket-detail>
        </div>
    </div>
</div>
