<template [ngIf]="!ticketList">
    <div class="ticket">
        (No ticket)
    </div>
</template>
<template [ngIf]="ticketList">
    <div *ngFor="#ticket of ticketList" class="ticket">
        <div class="clearfix">
            <span class="pull-left status-wrapper">
                <p class="dev-status">{{ticket.devStatus}}</p>
                <p class="status">({{ticket.status}})</p>
            </span>
            <span class="pull-right links">
                <template [ngIf]="isDefectTicket(ticket) && ticket.workId">
                    <a [href]="getDefectUrl(ticket)" [title]="ticket.workId" target="_blank">BZ</a>
                </template>
                <template [ngIf]="!isDefectTicket(ticket) && ticket.workId">
                    <a [href]="getBacklogUrl(ticket)" [title]="ticket.workId" target="_blank">V1</a>
                </template>
                <template [ngIf]="ticket.kilnId">
                    &nbsp;|&nbsp;
                    <a [href]="getCodeReviewUrl(ticket)" [title]="ticket.kilnId" target="_blank">Kiln</a>
                </template>
            </span>
        </div>
        <a [href]="getTicketUrl(ticket)" target="_blank">{{ticket.workId}} | {{ticket.summary}}</a>
        <hr/>
        <span class="pull-left dev-team">{{ticket.devTeam}}</span>
        <span class="pull-right review-team">{{ticket.reviewTeam ? ticket.reviewTeam : "(No review team)"}}</span>
    </div>
</template>
