/* To remove once adding Bootstrap */
.table {
    border-collapse: collapse;
}
.table, th, td {
    border: solid 1px #dcdcdc;
}
th, td {
    padding: 5px;
}
tr:hover {
    background-color: #039be5;
    cursor: pointer;
}
