.ticket {
    border: solid 1px #333333;
    width: 100%;
    float: left;
    min-height: 40px;
    padding: 5px;
    margin: 5px 0;
}
.ticket hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #333333;
}
.ticket .status {
    background-color: yellow;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
    margin-bottom: 5px;
}
.ticket .links a, .ticket .links a:visited, .ticket .links a:hover, .ticket .links a:active {
    font-weight: 700;
    color: saddlebrown;
}
.row.header {
    font-weight: 700;
}
.row [class^=col-]:nth-child(1) .ticket{
    background-color: violet;
}
.row [class^=col-]:nth-child(2) .ticket{
    background-color: orange;
}
.row [class^=col-]:nth-child(3) .ticket {
    background-color: skyblue;
}
.row [class^=col-]:nth-child(4) .ticket{
    background-color: aquamarine;
}
.loading{
    background-color: cyan;
    display: inline-block;
    padding: 3px;
    margin: 5px;
}