<h2>Ticket list</h2>
<div *ngIf="isLoading" class="loading">
    Loading...
</div>
<div class="container">
    <div class="row not-started-tickets">
        <div class="col-md-12 header">Not-Started</div>
        <ticket-detail [ticketList]="tickets[0]" [config]="config"></ticket-detail>
    </div>
    <div class="row header">
        <div class="col-xs-6 col-sm-3 col-md-3">In Progress</div>
        <div class="col-xs-6 col-sm-3 col-md-3">Onshore Pending</div>
        <div class="col-xs-6 col-sm-3 col-md-3">Onshore Approved</div>
        <div class="col-xs-6 col-sm-3 col-md-3">Complete</div>
    </div>
    <div class="row">
        <div *ngFor="#index of [1,2,3,4]" class="col-xs-6 col-sm-3 col-md-3">
            <ticket-detail [ticketList]="tickets[index]" [config]="config"></ticket-detail>
        </div>
    </div>
</div>
