<div class="container-fluid">
    <h2>Text Diff</h2>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">Diff</label>
            <div class="col-sm-11">
                <textarea style="height: 200px;" class="form-control" [(ngModel)]="input"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Ignored Parameters</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" [(ngModel)]="ignoredParams" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button class="btn btn-primary" (click)="process()">Process</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <textarea style="height: 500px; width: 100%;" [(ngModel)]="output.leftText"></textarea>
        </div>
        <div class="col-md-6">
            <textarea style="height: 500px; width: 100%;" [(ngModel)]="output.rightText"></textarea>
        </div>
    </div>
    
</div>
